<aside role="banner" class="cover" >
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <div>
        <img class="cover-logo" src="{{@blog.logo}}" alt="Blog Logo"/>
      </div>
    {{/if}}    
  </div>
  <div class="cover-tooltip">
      <cite>{{{@blog.description}}}</cite>
  </div>
</aside>