{{! write anything below this to get it featured on your front page }}
<header>
      <a href="{{@blog.url}}" class="featured-cover-logo" data-pjax>
        <img src="{{@blog.logo}}" alt="Blog Logo">
      </a>
      <hr>
</header>