<li class="drawer-list-item">
  <a href="/" data-pjax>
    <image src="/secondarypalaver-icon.png" class="fa"></image> Hut
  </a>
</li>


<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  Palaver
</li>

<li class="drawer-list-item">
  <a href="/about-palaver" data-pjax>
    <i class="fa fa-crosshairs"></i>What Is Palaver Hut
  </a>
</li>
<li class="drawer-list-item">
  <a href="/palaver-team" data-pjax>
    <i class="fa fa-users"></i>Who We Are
  </a>
</li>
<li class="drawer-list-item">
  <a href="/how-to-palaver" data-pjax>
    <i class="fa fa-comments-o"></i>How To Palaver
  </a>
</li>
<li class="drawer-list-item">
  <a href="/bookshelf/rss/">
    <i class="fa fa-book"></i>Our Bookshelf
  </a>
</li>

<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  Follow Us
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/palaverhut" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="/contact" target="_blank">
    <i class="fa fa-bullhorn"></i>Contact Us
  </a>
</li>


<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  For Developers
</li>
<li class="drawer-list-item">
  <a href="/developers" target="_blank">
    <i class="fa fa-terminal"></i>Our Tech Stack
  </a>
</li>