<li class="drawer-list-item">
  <a href="/" data-pjax>
    <image src="/secondarypalaver-icon.png" class="fa"></image>Hut
  </a>
</li>


<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  About
</li>
<li class="drawer-list-item">
  <a href="/about" data-pjax>
    <i class="fa fa-users"></i>Who We Are
  </a>
</li>
<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-crosshairs"></i>Why We Do This
  </a>
</li>
<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-comments-o"></i>How To Palaver
  </a>
</li>


<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  Palaver
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-bookmark"></i>Articles We Love
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-book"></i>Our Bookshelf
  </a>
</li>


<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  Follow Us
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com/palaverhut" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://twitter.com" target="_blank">
    <i class="fa fa-bullhorn"></i>Contact Us
  </a>
</li>


<li class="drawer-list-divider"></li>

<li class="drawer-list-item drawer-list-title">
  For Developers
</li>
<li class="drawer-list-item">
  <a href="/developers" target="_blank">
    <i class="fa fa-terminal"></i>Our Tech Stack
  </a>
</li>