@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
  color: $text-color;
  transition: color .3s;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }

  &:focus,
  &:hover {
    color: $primary-color;
  }
}

p,
pre {
  margin: 0 0 30px 0;
}

hr {
  width: 20%;
  border: 1px solid $line-breaks-color;
  margin-top: 0;
  margin-bottom: 30px;
}

dl dt {
  font-weight: 700;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: $title-font-family;
  font-weight: 700;
  word-wrap: break-word;
}

h1, .h1 {
  font-size: 48.5px;
  text-indent: -2px;
  letter-spacing: -1px;
  line-height: 1.2;

  @include breakpoint(small) {
    font-size: 30.5px;
  }
}

h2, .h2 {
  font-size: 31.5px;
  line-height: 1.2;

  @include breakpoint(small) {
    font-size: 24px;
  }
}

h3, .h3 {
  font-size: 26.5px;
  line-height: 1.2;

  @include breakpoint(small) {
    font-size: 20px;
  }
}

h4, .h4 {
  font-size: 22.5px;

  @include breakpoint(small) {
    font-size: 17.5px;
  }
}

h5, .h5 {
  font-size: 17.5px;
}

h6, .h6 {
  font-size: 14.5px;
}
