//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/

$breakpoint-xx-small: 320px - 1px;
$breakpoint-x-small: 480px - 1px;
$breakpoint-small: 768px - 1px;
$breakpoint-medium: 1024px - 1px;
$breakpoint-large: 1140px - 1px;
$breakpoint-x-large: 1280px - 1px;
$breakpoint-xx-large: 1444px - 1px;



//----------------------------------*\
// PALLETE
//----------------------------------*/

$background-color: #FFF;
$text-color: #333;
$muted-text-color: #B3B3B3;
$line-breaks-color: #F2F2F2;

$primary-color: #27ae60;
$palaver-brown: #926242;
$palaver-tooltip-background: rgba(39, 174, 96, .75);

//----------------------------------*\
// TYPO
//----------------------------------*/

$title-font-family: "open_sanslight", "Open Sans", "Myriad Pro", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

$text-font-family: "open_sanslight", "Open Sans", "Myriad Pro", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", sans-serif;

$navbar-font-family: "Open Sans", "Myriad Pro", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

//----------------------------------*\
// DRAWER
//----------------------------------*/

$drawer-background-color: #232323;
$drawer-text-color: #27ae60;
$drawer-hover-color: #d35400;
$drawer-icon-color: #2A6B3D;

//----------------------------------*\
// INPUTS
//----------------------------------*/

$input-font-family: $title-font-family;
$input-background-color: $line-breaks-color;
$input-text-color: $text-color;
$input-placeholder-color: $muted-text-color;
