.cover {
  position: relative;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 100;

  @include breakpoint(medium) {
    width: 100%;
    height: 30%;
    min-height: 300px;
  }
}

.cover-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.3);
  background-color: $drawer-background-color;
}

.cover-container {
  position: absolute;
  bottom: 0;
  padding: 50px 10% 10%;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  @include breakpoint(medium) {
    text-align: center;
    padding: 0 15px;
  }
}

.cover-logo {
  img {
    max-height: 100px;
    transition: opacity .3s ease-in-out;
    backface-visibility: hidden;
  }

  &:hover,
  &:focus {
    img {
      opacity: .85;
    }
  }

@include breakpoint(medium) {
    position: relative;
    bottom: 21px;
    max-height: 30%;
  }

}

.cover-title {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 12px;
}

.cover-description {
  font-size: 16px;
  line-height: 1.2;
}

.cover-tooltip {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 11px;
  padding: 5px;
  z-index: 10;
  background-color: #000;
  color: #999999;

  a {
    color: #999999;
  }
}