.featured-cover-logo {
  img {
    max-height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: opacity .3s ease-in-out;
    backface-visibility: hidden;
  }

  &:hover,
  &:focus {
    img {
      opacity: .85;
    }
  }
}